/build.gradle
/gradlew
/gradlew.bat
/local.properties
/gradle/wrapper/gradle-wrapper.properties
/.idea/
/gradle/wrapper/
/public
/db.json
.DS_Store
/source/.DS_Store
/.gradle/6.1.1/executionHistory/
/.gradle/
